.flex {
    display: flex;
    flex-direction: column;
    width: 30%;
    margin: 20px auto 0;
    padding: 50px;
    border: 1px solid lightblue;
    border-radius: 5px;

    .login-form {
        display: flex;
        flex-direction: column;
    }

    h3 {
        margin: 0 auto 20px;
        font-size: 25px;
    }

    input {
        height: 50px;
        margin-bottom: 20px;
        background-color: rgb(234, 234, 234);
        border: none;
        border-radius: 5px;
    }

    button {
        height: 50px;
        font-size: 18px;
        color: white;
        border: none;
        border-radius: 5px;
        cursor: pointer;
        background-color: lightcoral;
    }
}
